#logoImg{
    align-items: center;
    width: 10%;
    height: 10%;
    
}
#mouseImg{
    width: 5%;
    height: 5%;
    align-items: center;

}
.centerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
#services{
    color: white;
}
#design{
    display: none;
}
#development{
    display: none;
}
#productManagement{
    display: none;
}